* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

.flex{
    display: flex;
}

body {
    width: 100vw; 
    height: 100vh;
    flex-direction: column;  
}

header, main, footer{
    width: 100vw; 
    border: 1px solid black;
}

header{
    height: 60px;
    background-color: blueviolet;
    justify-content: space-between;
}

main{
    height: 100vh;
    background-color: blue;
}

footer{
    height: 60px;
    background-color: orangered;
}

H1, nav{
    border: 1px solid black;
}

.centro{
    justify-content: center; /*centralização horizontal*/
    align-items: center; /*centralização vertical*/
}

div{
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: rgb(183, 210, 30);
}